<%- include header %>

<%- include navbar %>

<div class="container">
  <h1><%- wikiTitle %></h1>
  <div class="row-fluid">
    <div class="span">
      <%- wikiBody %>
    </div>
  </div>
</div>

<%- include footer %>